@import "../common.less";
.plan-contents-list{
    width:1820vw*@w;
    height:900vh*@h;
}
.plan-list-wrap 
.content-opation{
    width:100%;
    height:70vh*@h;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    .form-p{
        display:flex;
        color:white;
        font-size:24vh*@h;
        margin-right:32vw*@w;
        label{
            display:block;
            height:62vh*@h;
            line-height: 62vh*@h;
            margin-right:24vw*@w;
        }
        input{
            display:block;
            height:62vh*@h;
            width:320vw*@w;
            background:rgba(0,0,0,0.8);
            border:rgba(18, 150, 219, 1);
            border:1px solid rgb(13, 93, 136);
        }
        select{
            display:block;
            height:62vh*@h;
            width:320vw*@w;
            background:rgba(0,0,0,0.8);
            border:rgba(18, 150, 219, 1);
            border:1px solid rgb(13, 93, 136);
        }
    }
    .btn{
        width:auto;
        height:auto;
        padding:8vh*@h 24vw*@w;
        .box-sizing();
        background:rgba(18, 150, 219, 1);
        color:white;
        font-size:24vh*@h;
        cursor: pointer;
        border-radius: 8vw*@w 8vh*@h;
        -o-border-radius: 8vw*@w 8vh*@h;
        -ms-border-radius: 8vw*@w 8vh*@h;
        -moz-border-radius: 8vw*@w 8vh*@h;
        -webkit-border-radius: 8vw*@w 8vh*@h;
        white-space: nowrap;
        margin-right:32vw*@w;
    }
}
.content-table-list{
    height:calc(100% - 150vh*@h);
    width:100%;
        margin-bottom: 14vh * @h;
        overflow: auto;
       /*  .dw {
          width: 37vw * @w;
          height: 100%;
          cursor: pointer;
        } */
        /deep/ .list-header {
          padding: 14vh * @h 0;
          div {
            font-size: 18vh * @h;
          }
        }
        /deep/ .list-body {
          li {
            div {
              font-size: 18vh * @h;
              padding: 0 10vw * @w;
              span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
           
          }
        }
        /deep/ .operation-divs{
            width:100%;
            height:100%;
            display:flex;
            justify-content: center;
            .btn-p{
                border:1px solid rgba(18, 150, 219, 1);
                padding:2vh*@h 24vw*@w;
                .box-sizing();
                color:white;
                font-size:24vh*@h;
                cursor: pointer;
                white-space: nowrap;
                margin-right:32vw*@w;
            }
            .btn-p:hover{
                color:rgba(18, 150, 219, 1);
            }
        }
      
}
.table-pages{
    width:100%;
    height:80vh*@h;
    display:flex;
    justify-content: center;
}